/* makes navbar background*/
.navbar {
    background-color: #f0f0f0;
    color: black;
    display: flex;
  }
 
/* get rid of bullet points and put list horizontal*/  
.navbar ul {
  list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/*styles website title*/
.logo {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* styles links */
.navbar a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


/* highlight hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
  }

