@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


/* makes navbar background*/
.navbar {
  font-family: 'Ubuntu', sans-serif;
    background-color: #39405B;
    color: #ffffff;
    display: flex;
    box-shadow: 5px 5px 5px 5px #888888;
  }
 
/* get rid of bullet points and put list horizontal*/  
.navbar ul {
  list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

/*styles website title*/
.logo {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* styles links */
.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


/* highlight hover */
.navbar a:hover {
    background-color: #2f3652;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
  }

.activeLink {
  background-color: yellow
}